body {
    background: #fefefe
}

.mainHeader {
    color: #1460AA
}

.sectionHeader {
    color: #0B355D
}

h1 {
    color: #296EB1
}

h2 {
    color: #1460AA
}

p {
    color: #3C7BB8
}

.link {
    color: #57A773
}